<footer class="main-footer">
    <div class="container-fluid">
        <span class="muted credit">Made by <a href="http://www.glutendesign.com">redgluten</a></span>
    </div>
</footer>

<a href="#page-top" id="scrollup" class="scrollup" style="display: block;">
    <i class="fa fa-chevron-up"></i>
</a>
