<div class="container">
    <div class="jumbotron">
        <h1 class="text-center"><i class="fa fa-hand-peace-o"></i> Yo-Mama</h1>

        <blockquote>
            <p>There is more stupidity than hydrogen in the universe, and it has a longer shelf life.</p>
            <footer>Frank Zappa</footer>
        </blockquote>
    </div>
</div>
