<div class="container">
    <div class="jumbotron">
        <h1>Express with HandleBars</h1>

        <blockquote>
            There is more stupidity than hydrogen in the universe, and it has a longer shelf life.
        </blockquote>
        <span class="pull-right">Frank Zappa</span>
    </div>
</div>
